<h1>{{title}}</h1>
<a class="button is-primary" href="/events/new">Create New Event</a>
<ul>
  {{#each events}}
  <li>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>{{this.date}}</p>
    <p>{{this.location}}</p>
    {{#if this.google}}
      <p>(Google Calendar Event)</p>
    {{else}}
      <a class="button is-warning" href="/events/{{this.id}}/edit">Edit</a>
      <form action="/events/{{this.id}}" method="POST" style="display:inline;">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button is-danger" type="submit">Delete</button>
      </form>
      <form action="/events/{{this.id}}/rsvp" method="POST" style="display:inline;">
        <button class="button is-link" type="submit">RSVP</button>
      </form>
    {{/if}}
  </li>
  {{/each}}
</ul>
